:root {
	--primary-color: #047902;
	--secondary-color: #E90909;
	--background-color: #F3FFF9;
	--title-color: #04570C;
}
 
html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
	background-color: var(--background-color);
}

body {
  width: 100vw;
	max-width: 100%;
	overflow-x: hidden;
}

